# Private files
corrections.json
REDCapIDs.txt
configure_networkscripts.R
configure_miscscripts.R
Pull_Ego_Tracts.R
*.jar
Process/Obsolete/
Misc/Alter Generation Stats/
Misc/Partner Names/
Misc/Validation Codes/
Misc/radar-weeklyUpdate/
PLoT_ME_Data_Pull_mac.R

# Has its own repo
weeklyUpdate.R

# R History/Data files
.Rhistory
.Rapp.history
.RData

# Other Windows files
*.db
*.ds_store

# WebStorm project files
.idea
